#msg{
    width:100%;
    height:auto;
}
#msg .msg_left{
    width:200px;
    height:400px;
    
}
#msg .msg_left ul{
    margin-top:80%;
}
#msg .msg_left ul li{
    width:200px;
    height:40px;
    border:1px solid #fff;
    line-height: 40px;
    text-align: center;
    color:rgb(180,180,180);
    background: rgb(240,240,240);
    cursor: pointer;
}
#msg .msg_left ul li:hover{
    color:rgb(130,130,130);
}
#msg .msg_right{
    
    height:500px;
    
    margin-left:250px;
}
#msg .msg_right h3{
    text-align: center;
}
#msg .msg_right .row div{
    border:1px solid white;
    box-shadow: 0 0 10px rgb(130,130,130);
    height:500px;
}
#msg .msg_right .row div ul{
    /* border:1px solid black; */
    margin-top:20px;
}
#msg .msg_right .row div ul li{
    /* border:1px solid red; */
    padding-top:5px;
    padding-bottom:5px;
}
ul.selfMsg li{
    width:50%;
    float:left;
}
 input[type="text"]{
    border:1px solid rgb(240,240,240);
    border-radius:5px;
}
input[disabled="disabled"]{
   background: rgb(250,250,250);
}

#msg .msg_right .row div.about input{
    width:100%;
    height:40px;
}
#msg .msg_right .row div.about{
    width:100%;
    height:70px;
    border:1px solid white;
    box-shadow: 0 0 0px rgb(130,130,130);
}
#msg .msg_right .row a{
    display: block;
    /* right:0; */
    margin-top:10px;
}


